<section id="form" style="margin-top:0px;"><!--form-->
	<div class="container" >
		<h2>Những điều cần biết trước khi mua h&agrave;ng:</h2>
		<h2>M&igrave;nh l&agrave; lập tr&igrave;nh vi&ecirc;n l&agrave;m việc to&agrave;n thời gian n&ecirc;n chỉ chủ yếu b&aacute;n online. chỉ mở tại nh&agrave; theo thời gian biểu b&ecirc;n dưới</h2>
		<p>&nbsp;</p>
		<h2>Đặt h&agrave;ng online</h2>
		<ol>
		<li>
		<h3>chọn sản phẩm</h3>
		</li>
		<li>
		<h3>cho v&agrave;o giỏ h&agrave;ng(cart)</h3>
		</li>
		<li>
		<h3>đặt h&agrave;ng (cần login)</h3>
		</li>
		<li>
		<h3>chuyển tiền. <span style="color: #ff0000;">nhớ ghi ch&uacute; m&atilde; đơn h&agrave;ng / nhận ship COD với đơn hàng dưới 2 triệu</span>.</h3>
		</li>
		<li>
		<h3>cửa h&agrave;ng check đơn h&agrave;ng</h3>
		</li>
		<li>
		<h3>shipping</h3>
		</li>
		<li>
		<h3>nhận h&agrave;ng</h3>
		</li>
		</ol>
		<h2>Chuyển khoản ng&acirc;n h&agrave;ng:</h2>
		<h3>&nbsp; &nbsp;0331000404494</h3>
		<h3>&nbsp; &nbsp;Vietcombank chi nh&aacute;nh Bến Th&agrave;nh</h3>
		<h3>&nbsp; &nbsp;L&Ecirc; TRỌNG THIỆN</h3>
		<h3>&nbsp;</h3>
		<h2>Mua h&agrave;ng tại chỗ : 85/15 Trần ch&aacute;nh Chiếu, phường 14, quận 5, tp HCM.</h2>
		<h3>giờ l&agrave;m việc : t4: 15h-18h; t7: 9h-18h. Sẽ tiện hơn nếu liên lạc trước khi tới.</h3>
		<h3>&nbsp;</h3>
		<h2>Chính sách bảo hành: 2 tháng, 1 đổi 1 cho sản phẩm lỗi nhà sản xuất.</h2>
	</div>
</section>


