<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="{{$index}}" class="{{!$index ? 'active' : ''}}"
								ng-repeat="banner in ctrl.banners"></li>
						</ol>

						<div class="carousel-inner">
							<div class="item {{!$index ? 'active' : ''}}" ng-repeat="banner in ctrl.banners">
								<div class="col-sm-6">
									<h1><span>KYO</span>-SHOP</h1>
									<h2>{{banner.bannerName}}</h2>
									<p>{{banner.description}}</p>
									<a class="btn btn-default check_out" href="#/{{banner.link}}" >Get it now</a>
								</div>
								<div class="col-sm-6">
									<img ng-src="images/banner/{{banner.image}}" class="girl img-responsive" alt="" />
								</div>
							</div>
						</div>
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
								<span style="color:white">-</span>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
								<span style="color:white">-</span>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section><!--/slider-->

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12s padding-lefts">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Sản phẩm mới</h2>

						<div class="col-sm-4" ng-repeat="prod in ctrl.homeProducts">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<a href="#/productDetail/{{prod.prodId}}" ><img ng-src="images/thumbnail/{{prod.image}}" alt="" style="width:100%;height:100%;"/></a>
										<h2>{{prod.price | number:0}} đ</h2>
										<a href="#/productDetail/{{prod.prodId}}" > <p>{{prod.prodName}}</p> </a>
									</div>
									<div class="alert alert-success" role="alert" ng-show="ctrl.alertProdId == prod.prodId && prod.quantity != 0" style="position: absolute;top: 0; left: 0;">
										  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
										  <span class="sr-only">success:</span>
									  		Đã thêm vào giỏ hàng
									</div>
									<div class="alert alert-danger" role="alert" ng-show="ctrl.alertProdId == prod.prodId && prod.quantity == 0" style="position: absolute;top: 0; left: 0;">
										  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
										  <span class="sr-only">error:</span>
									  		Tạm hết hàng
									</div>
							    </div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a class="btn btn-default add-to-cart" ng-click="ctrl.addToCart(prod)"><i class="fa fa-shopping-cart"></i>Add to cart</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div><!--features_items-->
	<!--category-tab-->
			 	 	<div class="category-tab">
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tshirt" data-toggle="tab">Blog</a></li>
							</ul>
						</div>
						<div class="tab-content">
								<div class="col-sm-6" ng-repeat="article in ctrl.homeArticles">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<a href="#/blogDetail/{{article.articleId}}">
													<img ng-src="images/article/{{article.image}}" alt="" style="width:100%;"/>
													<h4 style="color: #FE980F;font-family: 'Roboto', sans-serif;">{{article.articleName}}</h4>
												</a>	
											</div>
										</div>
									</div>
								</div>

						</div>
					</div>  <!--/category-tab-->
<!--recommended_items-->
<!--					<div class="recommended_items">
						<h2 class="title text-center">Sản phẩm gợi ý</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>

											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend2.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>

											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>

											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>

											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend2.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>

											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
							  </a>
						</div>
					</div>
--><!--/recommended_items-->
				</div>
			</div>
		</div>
	</section>
