<style>

.thumb {
    width: 100px;
    height: 100px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.bt {
  background: #FE980F;
  border: medium none;
  border-radius: 0;
  margin-left: -5px;
  margin-top: -3px;
  padding: 7px 17px;
}
</style>
<script type="text/javascript" src="js/tinymce/tinymce.min.js"></script>

<section>
	<div class="container" ng-cloak>
	 <div class="login-form">
	 <form name="myForm" >
	 	<div class="row">
	 		<div class="col-sm-4">
	 			<img ng-src="images/thumbnail/{{ctrl.product.image}}" alt="" style="width: 100%;"/>
	 		</div>
	 		<div class="col-sm-4">
	 			<span>image: {{ctrl.product.image}}</span>
			 	<p ng-show="ctrl.picFile.result">New image: {{ctrl.picFile.result}}</p>
			      <input type="file" ngf-select ng-model="ctrl.picFile" name="file"    
			             accept="image/*" ngf-max-size="2MB" 
			             ngf-model-invalid="errorFile">
			      
			      <i ng-show="myForm.file.$error.maxSize">File too large 
			          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
			      <img ng-show="myForm.file.$valid" ngf-thumbnail="ctrl.picFile" class="thumb"> 
			      <button ng-click="ctrl.picFile = null" ng-show="ctrl.picFile">Remove</button>
			     
			      <button ng-disabled="!ctrl.picFile"  
			      		ng-click="ctrl.uploadPic(ctrl.picFile,'mgnt/uploadfile2')">upload</button>
			      <span class="progress" ng-show="ctrl.picFile.progress >= 0">
			        <div style="width:{{ctrl.picFile.progress}}%"  
			        		ng-bind="ctrl.picFile.progress + '%'"></div>
			      </span>
			      <span ng-show="ctrl.picFile.result">Upload Successful</span>
			      <span class="err" ng-show="ctrl.errorMsg">{{ctrl.errorMsg}}</span>
			      <span>size: 320x280</span>
	 		</div>
	 		<div class="col-sm-4">
	 			<img ng-show="ctrl.picFile.result" ng-src="images/thumbnail/{{ctrl.picFile.result}}" alt="" style="width: 100%;"/>
	 		</div>
	 	</div>
		<div class="row">
			<div class="col-sm-4">
				id:	<input type="number"  ng-model="ctrl.product.prodId" disabled="disabled"/>
			</div>
			<div class="col-sm-4">
				name:<input type="text"  ng-model="ctrl.product.prodName" required/>
			</div>
			<div class="col-sm-4">
				category:
				<select  ng-model="ctrl.product.category.categoryId" 
					 ng-options="opt.categoryId as opt.categoryName for opt in ctrl.categories"
					 style="width: 100%;height: 40px;">
		    	</select> 	
			
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				price:	<input type="number"  ng-model="ctrl.product.price"/>
			</div>
			<div class="col-sm-4">
				quantity: <input type="number" ng-model="ctrl.product.quantity"/>
			</div>
			<div class="col-sm-4">
				weight: <input type="number"  ng-model="ctrl.product.weight" />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				discout: <input type="number" ng-model="ctrl.product.discount"/>
			</div>
			<div class="col-sm-4">
				status:
				<select  ng-model="ctrl.product.status" 
					 ng-options="opt.value as opt.name for opt in ctrl.statusList"
					 style="width: 100%;height: 40px;">
		    	</select> 
			</div>
			<div class="col-sm-4">
			 	notification:<input type="text"  ng-model="ctrl.product.notification"/>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				
			</div>
		</div>
		
		<div class="row" style="margin-bottom: 15px;">
			<div class="col-sm-4">
				
			</div>
			<div class="col-sm-4">
				<a ng-click="ctrl.upsert()" href="" class="btn btn-default check_out" style="margin: 5px 0px 0px 0px;">submit</a>
				<a href="#/mgnt/productUpsert/0" class="btn btn-default check_out" style="margin: 5px 0px 0px 10px;">add</a>
				<a href="#/mgnt/productList" class="btn btn-default check_out" style="margin: 5px 0px 0px 10px;">back</a>
			</div>
			<div class="col-sm-4">
				<div class="alert alert-success" role="alert" ng-show="ctrl.responseStr" 
					 style="margin: 0px 0px 0px 0px;width: 120px;height: 0px;padding: 5px 0px 25px 10px;">
				  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				  <span class="sr-only">Error:</span>
					 thành công
				</div>				
			</div>
		</div>
	</form>
	
	<textarea ui-tinymce="ctrl.tinymceOptions" ng-model="ctrl.product.description"></textarea>
	</div>	
	<div class="row" style ="margin-top: 20px;">
		<div class="col-sm-5" >
			<form name="myForm2" >
			 	
			      <input type="file" 
			      		 ngf-select ng-model="ctrl.picProduct" 
			      		 name="file"    
			             accept="image/*" ngf-max-size="2MB" 
			             ngf-model-invalid="errorFile">
			      
			      <i ng-show="myForm.file.$error.maxSize">File too large 
			          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
			      <img ng-show="myForm.file.$valid" ngf-thumbnail="ctrl.picProduct" class="thumb"> 
			      <button ng-click="ctrl.picProduct = null" ng-show="ctrl.picProduct">Remove</button>
			     
			      <button ng-disabled="!ctrl.picProduct"  
			      		ng-click="ctrl.uploadPic(ctrl.picProduct,'mgnt/uploadfile3')">upload</button>
			      <span class="progress" ng-show="ctrl.picProduct.progress >= 0">
			        <div style="width:{{ctrl.picProduct.progress}}%"  
			        		ng-bind="ctrl.picProduct.progress + '%'"></div>
			      </span>
			      <span ng-show="ctrl.picProduct.result">Upload Successful</span>
			      <span class="err" ng-show="ctrl.errorMsg">{{ctrl.errorMsg}}</span>
			      
			</form>      
		</div>
		<div class="col-sm-7" >
			<p ng-show="ctrl.picProduct.result"> image: images/productDetail/{{ctrl.picProduct.result}}</p>
		</div>
	</div>
	
	</div>
	
</section>
