<style>

.search_class{
	background: #F0F0E9;
    border: medium none;
    color: #B2B2B2;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 300;
    height: 40px;
    outline: medium none;
    padding-left: 0px;
    width: 150px;
    background-image: url(../images/home/searchicon.png);
    background-repeat: no-repeat;
    background-position: 160px;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    width:500px !important;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template .result_left{
	width: 200px;
}

</style>

<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#/"><i class="fa fa-phone"></i>096 784 7010</a></li>
								<li><a href="#/"><i class="fa fa-envelope"></i> thienkyo@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a target="_blank" href="https://www.facebook.com/thienletrong"><i class="fa fa-facebook"></i></a></li>
								<li><a target="_blank" href="https://www.linkedin.com/in/letrongthien/"><i class="fa fa-linkedin"></i></a></li>
								<li><a target="_blank" href="https://www.instagram.com/kyoshop2017/"><i class="fa fa-instagram"></i></a></li>
								<li><a target="_blank" href="https://plus.google.com/+kyoshop2017"><i class="fa fa-google-plus"></i></a></li>
								<li><a target="_blank" href="https://www.youtube.com/user/thienkyo/videos?shelf_id=0&sort=dd&view=0"><i class="fa fa-youtube"></i></a><li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->

		<div class="header-middle"><!--header-middle thien-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="#/"><img src="images/home/logo.png" alt="" /></a>
						</div>
						<div class="btn-group pull-right">
						</div>

					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li ng-show="ctrl.currentMember"><a href="#/account"><i class="fa fa-user"></i> Account</a></li>
								<li><a href="#/"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="#/cart"><i class="fa fa-shopping-cart"></i> Cart({{ctrl.itemQuantity}})</a></li>
								<li ng-show="!ctrl.currentMember"><a href="#/login"><i class="fa fa-lock"></i> Login</a></li>
								<li ng-show="ctrl.currentMember"><a href="" ng-click="ctrl.logout()"><i class="fa fa-unlock"></i> logout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->

		<div class="header-bottom"><!--header-bottom thet-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						
						<div class="mainmenu pull-left" style="padding-top: 10px;">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="#/" class="active">Home</a></li>
								<li class="dropdown"><a href="#/">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu" >
                                        <li ng-repeat="cate in ctrl.cateList"><a href="#/category/{{cate.categoryId}}">{{cate.categoryName}}</a></li>
                                    </ul>
                                </li>
								<li><a href="#/blog">Blog</a></li>
								<li><a href="#/readme" style="color:red;">Cần đọc</a></li>
								<li><a href="#/contact">Contact</a></li>
								
								<li ng-show="ctrl.isAdmin" class="dropdown"><a href="#/">admin<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="#/mgnt/productList">product</a></li>
										<li><a href="#/mgnt/orderList">order</a></li>
										<li><a href="#/mgnt/category">category</a></li>
										<li><a href="#/mgnt/blogList">blog</a></li>
										<li><a href="#/mgnt/banner">banner</a></li>
										<li><a href="#/mgnt/member">member</a></li>
                                    </ul>
                                </li>
                                
                                <li ng-show="ctrl.isMod" class="dropdown"><a href="#/">admin<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
										<li><a href="#/mgnt/blogList">blog</a></li>
                                    </ul>
                                </li>
								
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<md-autocomplete class="search_class"  flex=""
					          ng-disabled="ctrl.isDisable"
					          md-no-cache="ctrl.noCache"
					          md-selected-item="ctrl.selectedItem"
					          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
					          md-search-text="ctrl.searchText"
					          md-selected-item-change="ctrl.selectedItemChange(item)"
					          md-items="item in ctrl.querySearch(ctrl.searchText)"
					          md-item-text="item.name"
					          md-min-length="2"
                              md-delay="500"
					          placeholder="search">
					          <md-item-template>
					          	 <div class="row" >
						          <div class="col-sm-2" >{{item.type == 1 ? 'shop' : 'blog'}}</div>
						          <div class="col-sm-3" style="border-left: 10px;"><img ng-src=" {{item.type == 1 ? 'images/thumbnail/'+item.image : 'images/article/'+item.image}} " alt="" style="height:40px;"/></div>
						          <div class="col-sm-7" style="border-right: 10px;">{{item.name}}</div>
					       	    </div>
					          
					          </md-item-template>
					          <md-not-found>
					       	    không có kết quả cho "{{ctrl.searchText}}".
					          </md-not-found>
					       </md-autocomplete>
							
							
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->