<section id="cart_items">
		<div class="container">
			<div class="step-one">
				<h2 class="heading">Bước 1: kiểm tra giỏ hàng &nbsp;&nbsp;->&nbsp;&nbsp; Bước 2: địa chỉ &nbsp;&nbsp;->&nbsp;&nbsp; Bước 3: đặt hàng (yêu cầu đăng nhập)</h2>
			</div>
		
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in ctrl.currentCart track by $index">
							<td class="cart_product">
								<a href="#/productDetail/{{item.prod.prodId}}"><img ng-src="images/shop/{{item.prod.image}}" style="width: 110px;margin-right: 20px;" alt=""></a>
							</td>
							<td class="cart_description" style="padding-left: 40px;">
								<h4><a href="#/productDetail/{{item.prod.prodId}}">{{item.prod.prodName}}</a></h4>
								<p>Web ID: {{item.prod.prodId}}</p>
							</td>
							<td class="cart_price">
								<p>{{item.prod.price | number:0}} đ</p>
							</td> <!-- value="{{item.quantity}}" -->
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<input class="cart_quantity_input" type="number" name="quantity" 
										ng-model="item.quantity"  
										ng-change="ctrl.updateTotal()"
										autocomplete="off" style="width:40px;" 
										min="1" max="9" />
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{item.prod.price * item.quantity | number:0}} đ</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" style="margin-right: 10px;" ng-click="ctrl.removeItem($index)"><i class="fa fa-times"></i></a>
							</td>
						</tr>
						<tr style="border-bottom: 0px;">
							<td colspan="2" style="padding-left: 30px;padding-top: 0px;">
								<textarea name="message"  placeholder="ghi địa chỉ chính xác để nhận hàng nhanh chóng." 
										  rows="4" style="margin-top: 0px;" ng-model="ctrl.me.address" ng-cloak ></textarea>
								<!--   <a class="btn btn-primary" href="" ng-click="ctrl.placeOrder()">Đặt hàng</a> -->
								
							</td>
							<td colspan="1" style="padding-top: 23px; vertical-align: top;">
								<select  ng-model="ctrl.me.shipCostId" 
										 ng-options="opt.shipCostId as opt.region for opt in ctrl.shipCostList"
										 ng-change="ctrl.updateShippingFee()" 
										 style="width: 250px;height: 40px;">
							    </select>
							</td>
							<td colspan="3">
								<table class="table table-condensed total-result" style="margin-top: 0px;margin-bottom: 40px;">
									<tr>
										<td>Cart Sub Total</td>
										<td>{{ctrl.subTotal | number:0}} đ</td>
									</tr>
									
									<tr class="shipping-cost">
										<td>Shipping Cost</td>
										<td>{{ctrl.order.shipCostFee | number:0}} đ</td>										
									</tr>
									<tr>
										<td>Total</td>
										<td><span>{{ctrl.total | number:0}} đ</span></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="padding-left: 30px;padding-top: 0px;">
								<a class="btn btn-primary" href="" ng-click="ctrl.placeOrder()" >Đặt hàng</a>
							</td>
							
						</tr>
						
					</tbody>
				</table>
				<div class="alert alert-danger" role="alert" ng-show="ctrl.isShow" 
					 style="margin-top:10px;margin-left: 30px;margin-right: 20px;">
				  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				  <span class="sr-only">Error:</span>
					 Cần đăng nhập để đặt hàng
				</div>
				<div class="alert alert-success" role="alert" ng-show="ctrl.order_return_status"
					 style="margin-top:10px;margin-left: 30px;margin-right: 20px;">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  <span class="sr-only">success:</span>
				  		đặt hàng thành công
				</div>
			</div>

		</div>
	</section> <!--/#cart_items-->