<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 padding-left">
					<div class="features_items"><!--features_items-->
						<div class="col-sm-4" ng-repeat="prod in products">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<a href="#/productDetail/{{prod.prodId}}" ><img ng-src="images/shop/{{prod.image}}" alt="" /></a>
										<h2>{{prod.price}} đ</h2>
										<a href="#/productDetail/{{prod.prodId}}" > <p>{{prod.prodName}}</p> </a>
									</div>
							    </div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div><!--features_items-->
				</div>
				<ul class="pagination">
					<li class="active"><a href="">1</a></li>
					<li><a href="">&raquo;</a></li>
				</ul>
			</div>
		</div>
	</section>