<section>
		<div class="container" ng-cloak>
			<div class="row">
				
				<div class="col-sm-12 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-6">
							<div class="view-product" ng-cloak>
								<img ng-src="images/thumbnail/{{ctrl.product.image}}" alt="" style="height: 100%;"/>
								<div class="alert alert-success" role="alert" ng-show="ctrl.alertProdId && ctrl.product.quantity != 0" style="position: absolute;top: 0; left: 0;">
									  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									  <span class="sr-only">success:</span>
								  		Đã thêm vào giỏ hàng
								</div>
								<div class="alert alert-danger" role="alert" ng-show="ctrl.alertProdId && ctrl.product.quantity == 0" style="position: absolute;top: 0; left: 0;">
									  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									  <span class="sr-only">error:</span>
								  		Tạm hết hàng
								</div>	
							</div>
						</div>
						<div class="col-sm-6">
						<!--/product-information-->
							<div class="product-information">
								<!--  <img src="images/product-details/new.jpg" class="newarrival" alt="" /> -->
								<h2>{{ctrl.product.prodName}} <a href="#/mgnt/productUpsert/{{ctrl.product.prodId}}" ng-show="ctrl.isAdmin">[edit]</a></h2>
								
								<p>Web ID: P{{("000"+ctrl.product.prodId).slice(-4)}}</p>
								<img src="images/productDetail/rating.png" alt="" />
								<p></p>
								<span>
									<span>{{ctrl.product.price | number:0}} đ</span>
									<label>Quantity:</label>
									
									<input  type="number" value="1"
										ng-model="ctrl.qty"  
										autocomplete="off" style="width:40px;" 
										min="1" max="9" />
									
									<button type="button" class="btn btn-fefault cart" ng-click="ctrl.addToCart(ctrl.product)">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
								<p><b>Availability:</b> {{ctrl.product.quantity == 0 ? 'tạm hết hàng' : 'còn hàng'}}</p>
							<!-- 	<a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a> -->
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#/details" data-toggle="tab">Details</a></li>
			
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12" ng-bind-html="ctrl.product.description"></div>
							</div>
						</div>
					</div><!--/category-tab-->
					
				</div>
			</div>
		</div>
	</section>